# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=ed6e5c06-b1b7-4444-8dc4-3a0f3cc3ec3e

    # Set to true to disable all reporting
    B:opt-out=false
}


